*{
    margin: 0;
    padding: 0;

}
body{
    text-align: center;
}
.code-generator{
    width: 100%;
    margin-top: 100px;
}
h2,button{
    margin-top: 20px;
}
button{
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 18px;
}
.color-box{
    height: 100px;
    width: 500px;
    border: 2px solid black;
    margin:30px auto;
    border-radius: 10px;
}